// reset start

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

// reset end

// colors start

body {
    background-color: #2e2e2e;;
}

a {
    color: #867772;
}

h1, h2, h3, h4 {
    color: #ebccc2;
}

p {
    color: rgb(115, 115, 115);
}

// colors end

// header start

header,
footer {
    position: sticky;
}

header {
    top: 0%;
    ul {
        list-style: none;
        align-items: center;
        padding: 2% 3%;
        display: flex;

        li:nth-of-type(1) {
            flex-grow: 1;
        }

        li:nth-of-type(2) {
            margin-right: 4%;
        }

        li:nth-of-type(3),
        li:nth-of-type(4),
        li:nth-of-type(5) {
            margin: 0 1%;
        }

        li:nth-of-type(6) {
            margin: 0 4%;
        }
    }
}

// header end

// hover start

a {
    cursor: pointer;
    transition: all 1s;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

// hover end

// about start

#aboutSection {
    width: 90%;
    margin: 0 auto;
    img {
        width: 100%;
    }
}

h1 {
    margin: 5% 0 10%;
    font-size: 2.5rem;
    width: 35%;
    margin-left: 25%;
}
    
#homeFigure {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
}

#homeFigure img {
    width: 50%;
}

// about end

// figcaption start

figcaption {
    padding-left: 10%;
    h2 {
        font-size: 2rem;
        margin-bottom: 5%;
    }

    p {
        line-height: 3vh;
        margin-bottom: 1.5vh;
    }
}

// figcaption end

// footer start

footer {
    position: sticky;
    bottom: 50%;
}

// footer end