// reset start

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

// reset end

// colors start

body {
    background-color: #2e2e2e;;
}

a {
    color: #867772;
}

h1, h2 {
    color: #ebccc2;
}

p {
    color: rgb(115, 115, 115);
}

$hover-color: #fff;

// colors end

header,
footer {
    position: sticky;
}

header {
    top: 0%;
}

#about {
    width: 90%;
    margin: 0 auto;
    img {
        width: 100%;
    }
}

h1 {
    margin: 5% 0 10%;
}

@media (min-width: 0px) {
    
}


// desktop

@media (min-width: 1025px) {
    header nav {
        display: flex;
        align-items: center;
        padding: 2% 3%;
    }

    header nav ul {
        display: flex;
    }

    h1 {
        font-size: 2.5rem;
        width: 35%;
        margin-left: 25%;
    }
        
    figure {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        padding-top: 10%;
    }
    
    figure #boxImg {
        width: 50%;
    }

    figcaption {
        padding-left: 10%;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 5%;
    }

    p {
        line-height: 3vh;
        margin-bottom: 1.5vh;
    }

    footer {
        position: sticky;
        bottom: 50%;
    }
}