* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

body,
.sidenav {
  background-color: #2e2e2e;
}

header a {
  color: #867772;
}

p, input[type="button"], footer a, .sidenav a {
  color: #737373;
}

h1, h2, h3, h4, a.closebtn {
  color: #ebccc2;
}

header, footer {
  position: fixed;
}

header {
  width: 100%;
  top: 0;
}

#about,
#inspiration {
  width: 90%;
  padding: 10% 0;
  margin: 0 auto;
}

#about img,
#inspiration img {
  width: 100%;
}

#about h1,
#inspiration h1 {
  margin-bottom: 10%;
}

figure, .sidenav, #lounger, #experience, #shop, header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 425px) {
  .exFigStyle,
  #lounger, #experience, #shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .exFigStyle p,
  #lounger p, #experience p, #shop p {
    margin-bottom: 5%;
  }
  .exFigStyle figcaption,
  #lounger figcaption, #experience figcaption, #shop figcaption {
    padding: 5% 0;
  }
}

.sidenav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav h4 {
  margin-top: 5%;
}

.sidenav p {
  font-size: 1rem;
}

.sidenav iframe {
  margin-bottom: 10%;
}

.sidenav section {
  width: 88%;
}

.sidenav section input#email {
  padding: 2%;
  width: 100%;
  margin-top: 10%;
}

.sidenav section input[type="button"] {
  background-color: #ebccc2;
  padding: 2%;
  width: 100%;
  border: 1px solid #ebccc2;
  border-radius: 5px;
  font-weight: normal;
  margin-top: 5%;
  color: #2e2e2e;
}

.sidenav .closebtn {
  position: absolute;
  top: 1%;
  left: 5%;
  font-size: 36px;
}

#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (min-width: 456px) {
  h1, h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.2rem;
  }
  a {
    cursor: pointer;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  a:hover {
    color: #fff;
  }
  header a:hover {
    text-decoration: underline;
  }
  header {
    width: 100%;
    padding: 2% 3%;
  }
  header ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header li {
    font-size: .8rem;
  }
  header li:nth-of-type(1) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header li:nth-of-type(2) {
    margin-right: 3%;
  }
  header li:nth-of-type(3),
  header li:nth-of-type(4),
  header li:nth-of-type(5) {
    margin: 0 1%;
  }
  header li:nth-of-type(6) {
    margin: 0 3% 0 3%;
  }
  #inspiration {
    width: 60%;
  }
  #about > video,
  #inspiration > video {
    width: 90%;
    margin: 0 5% 10%;
  }
  #about > img,
  #inspiration > img {
    width: 100%;
    margin-bottom: 10%;
  }
  #about h1,
  #inspiration h1 {
    margin-left: 28%;
    width: 35%;
  }
  #about h2,
  #inspiration h2 {
    margin-bottom: 5%;
  }
  #about h3,
  #inspiration h3 {
    margin-bottom: 1.5%;
  }
  #about input[type="button"],
  #inspiration input[type="button"] {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.5% 1.5%;
    margin-bottom: 1.5%;
  }
  #about > p,
  #inspiration > p {
    margin-bottom: 10%;
  }
  #about .exFigStyle,
  #inspiration .exFigStyle {
    width: 80%;
  }
  #about figure,
  #inspiration figure {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  #about figure img,
  #inspiration figure img {
    width: 50%;
  }
  #about figure figcaption,
  #inspiration figure figcaption {
    padding-left: 10%;
  }
  #about figure figcaption p,
  #inspiration figure figcaption p {
    line-height: 3vh;
    margin-bottom: 2%;
  }
  #about figure .capExStyle,
  #inspiration figure .capExStyle {
    padding-left: 5%;
  }
  #lounger,
  #experience,
  #shop {
    overflow: hidden;
  }
  #lounger > img,
  #experience > img,
  #shop > img {
    width: 60%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #lounger .louExStyle,
  #lounger .shopStyle,
  #experience .louExStyle,
  #experience .shopStyle,
  #shop .louExStyle,
  #shop .shopStyle {
    padding: 0 5%;
  }
  #lounger .louExStyle,
  #experience .louExStyle,
  #shop .louExStyle {
    padding-top: 10%;
  }
  #lounger .louExStyle h2,
  #experience .louExStyle h2,
  #shop .louExStyle h2 {
    margin-bottom: 20%;
  }
  #lounger .louExStyle p,
  #experience .louExStyle p,
  #shop .louExStyle p {
    margin-bottom: 2%;
  }
  #lounger .shopStyle,
  #experience .shopStyle,
  #shop .shopStyle {
    padding-top: 5%;
    text-align: center;
  }
  #lounger .shopStyle h2,
  #experience .shopStyle h2,
  #shop .shopStyle h2 {
    margin-bottom: 5%;
  }
  #lounger .shopStyle p,
  #experience .shopStyle p,
  #shop .shopStyle p {
    margin-bottom: 5%;
  }
  #lounger .shopStyle a,
  #experience .shopStyle a,
  #shop .shopStyle a {
    background-color: #ebccc2;
    padding: 2% 4%;
    border-radius: 5px;
    font-weight: normal;
    margin-top: 10vh;
    color: #2e2e2e;
  }
  footer {
    bottom: 15%;
  }
  footer li {
    margin-bottom: 10vh;
    position: relative;
  }
  footer li ::before {
    content: "\25EF";
    color: #737373;
    position: absolute;
    left: 10.5%;
  }
  footer li a {
    margin-left: 5vw;
  }
  footer li:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 50px;
    background-color: #737373;
    position: absolute;
    top: 3vh;
    left: 15%;
  }
  footer .currentSite {
    color: #fff;
  }
  footer .currentSite::after {
    content: "\25CC";
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    left: .9vw;
    top: -.9vh;
    -webkit-animation: spin 5s linear infinite;
            animation: spin 5s linear infinite;
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotateZ(360deg);
              transform: rotateZ(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotateZ(360deg);
              transform: rotateZ(360deg);
    }
  }
}
/*# sourceMappingURL=style.css.map */