// reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

// color elements

body {
    background-color: #2e2e2e;
}

header a {
    color: #867772;
}

h1, h2, h3{
    color: #ebccc2;
}

p,
input[type="button"],
footer a {
    color: #737373;
}

// sticky elements

header,
footer {
    position: fixed;
}

header {
    top: 0;
}

// font sizes

h1, h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1.2rem;
}

// hover elements

a {
    cursor: pointer;
    transition: all 1s;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

// header style

header {
    width: 100%;
    padding: 2% 3%;

    ul {
        display: flex;
        align-items: center;
        width: 100%;
    }

    li {
        font-size: .8rem;
    }

    li:nth-of-type(1) {
        flex-grow: 1;
    }

    li:nth-of-type(2) {
        margin-right: 3%;
    }

    li:nth-of-type(3),
    li:nth-of-type(4),
    li:nth-of-type(5) {
        margin: 0 1%;
    }

    li:nth-of-type(6) {
        margin: 0 3% 0 3%;
    }
}

// about and inspiration site style

#about {
    width: 90%;
}

#inspiration {
    width: 60%;
}

#about,
#inspiration {
    padding: 10% 0;
    margin: 0 auto;

    > video {
        width: 90%;
        margin: 0 5% 10%;
    }

    > img {
        width: 100%;
        margin-bottom: 10%;
    }

    h1 {
        margin: 0 0 10% 28%;
        width: 35%;
    }

    h2 {
        margin-bottom: 5%;
    }

    h3 {
        margin-bottom: 1.5%;
    }

    input[type="button"] {
        background-color: transparent;
        border: 1px solid #fff;
        padding: 0.5% 1.5%;
        margin-bottom: 1.5%;
    }

    > p {
        margin-bottom: 10%;
    }
    
    .exFigStyle {
        width: 80%;
    }

    figure {
        display: flex;
        align-items: center;
        margin: 0 auto;

        img {
            width: 50%;
        }

        figcaption {
            padding-left: 10%;

            p {
                line-height: 3vh;
                margin-bottom: 2%;
            }
        }

        .capExStyle {
            padding-left: 5%;        
        }
    }
}

// lounger, experience and shop site style

#lounger,
#experience,
#shop  {
    display: flex;
    overflow: hidden;

    > img {
        width: 60%;
        height: 100vh;
        object-fit: cover;
    }

    .louExStyle,
    .shopStyle {
        padding: 0 5%;
    }

    .louExStyle {
        padding-top: 10%;

        h2 {
            margin-bottom: 20%;
        }

        p {
            margin-bottom: 2%
        }
    }

    .shopStyle {
        padding-top: 5%;
        text-align: center;

        h2 {
            margin-bottom: 5%;
        }

        p {
            margin-bottom: 5%;
        }

        a {
            background-color: #ebccc2;
            padding: 2% 4%;
            border-radius: 5px;
            font-weight: normal;
            margin-top: 10vh;
            color: #2e2e2e;
        }
    }
}

// footer navi stlye

footer {
    bottom: 15%;

    li {
        margin-bottom: 10vh;
        position: relative;

        ::before {
            content: "\25EF";
            position: absolute;
            color: #737373;
            left: 10.5%;
        }
        
        a {
            margin-left: 5vw;
        }

    }

    li:not(:last-child)::after {
        content: "";
        width: 1px;
        height: 50px;
        background-color: #737373;
        position: absolute;
        top: 3vh;
        left: 15%;
    }

    .currentSite {
        color: #fff;
    }

    .currentSite::after {
        content: "\25CC";
        font-size: 1.6rem;
        position: absolute;
        left: .9vw;
        top: -.9vh;
        color: #fff;
        animation: spin 5s linear infinite;

        @keyframes spin { 
            100% { 
              transform: rotateZ(360deg); 
            }
          }
        }
}
